{{define "breadcrumb"}}
	<li class="active">均衡器</li>
{{end}}

{{define "content"}}
	<div class="col-md-12">
		<div class="panel panel-default">
		<div class="panel-heading">
			均衡器
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>均衡器</th>
						<th>主机（域名）</th>
						<th>协议</th>
						<th>负载算法</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
					{{range $bal := .Balancers}}
						<tr>
							<td>
								<a href="/balancers/{{$bal.Id.Hex}}">{{$bal.Label}}</a>
							</td>
							<td>{{$bal.Settings.Hostname}}</td>
							<td>{{$bal.Settings.Protocol.Label}}</td>
							<td>{{$bal.Settings.Algorithm.Label}}</td>
							<td>-</td>
						</tr>
					{{end}}
				</tbody>
			</table>
			<hr>
			<div>
				<a href="/balancers/new" class="btn btn-primary btn-xs">新建均衡器</a>
			</div>
		</div>
	</div>
{{end}}

{{define "sidebar"}}

{{end}}

{{define "scripts"}}

{{end}}
