{{define "breadcrumb"}}
	<li><a href="/balancers">均衡器</a></li>
	<li class="active">{{.Balancer.Label}}</li>
{{end}}

{{define "content"}}
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				服务器
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>服务器</th>
							<th>地址</th>
							<th>权重</th>
							<th>可用性</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{{range $srv := .Balancer.Servers}}
							<tr>
								<td>
									<a href="/servers/{{$srv.Id.Hex}}">
										{{if eq $srv.Label ""}}-{{else}}{{$srv.Label}}{{end}}
									</a>
								</td>
								<td>{{$srv.Settings.Address}}</td>
								<td>{{$srv.Settings.Weight}}</td>
								<td>{{$srv.Settings.Availability.Label}}</td>
								<td>-</td>
								<td>
									<a href="/servers/{{$srv.Id.Hex}}/del" class="btn btn-danger btn-xs">删除</a>
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>
				<hr>
				<div>
					<a href="/balancers/{{.Balancer.Id.Hex}}/servers/new" class="btn btn-primary btn-xs">添加服务器</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				均衡器：{{.Balancer.Label}}
			</div>
			<div class="panel-body">
				<dl>
					<dt>主机名（域名）</dt>
					<dd>{{.Balancer.Settings.Hostname}}</dd>
				</dl>
				<dl>
					<dt>端口</dt>
					<dd>{{.Balancer.Settings.Port}}</dd>
				</dl>
				<dl>
					<dt>协议</dt>
					<dd>{{.Balancer.Settings.Protocol.Label}}</dd>
				</dl>
				<dl>
					<dt>算法</dt>
					<dd>{{.Balancer.Settings.Algorithm.Label}}</dd>
				</dl>
				<hr>
				<a href="/balancers/{{.Balancer.Id.Hex}}/edit" class="btn btn-primary btn-xs">编辑</a>
			</div>
		</div>

		{{if eq .Balancer.Settings.Protocol "https"}}
			<div class="panel panel-default">
				<div class="panel-heading">
					设置SSL
				</div>
				<div class="panel-body">
					<dl>
						<dt>DNS</dt>
						<dd>
							{{range $i, $name := .Balancer.Settings.SSLOptions.DNSNames}}
								{{$name}},
							{{end}}
						</dd>
					</dl>
					<dl>
						<dt>指纹</dt>
						<dd>{{printf "% x" .Balancer.Settings.SSLOptions.Fingerprint}}</dd>
					</dl>
				</div>
			</div>
		{{end}}
	</div>
{{end}}

{{define "scripts"}}

{{end}}
