{{define "breadcrumb"}}
	<li><a href="/balancers">Balancers</a></li>
	<li><a href="/balancers/{{.Balancer.Id.Hex}}">{{.Balancer.Label}}</a></li>
	<li><a href="#">服务器</a></li>
	<li class="active">新建</li>
{{end}}

{{define "content"}}
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				服务器新建
			</div>
			<div class="panel-body">
				<br>
				<form method="POST" class="form-horizontal">
					<div class="form-group">
						<label for="inpLabel" class="col-sm-2 control-label">标签</label>
						<div class="col-sm-4">
							<input type="text" name="label" class="form-control input-sm" id="inpLabel">
						</div>
					</div>

					<br>

					<div class="form-group">
						<label for="inpAddress" class="col-sm-2 control-label">地址</label>
						<div class="col-sm-4">
							<input type="text" name="settings.address" class="form-control input-sm" id="inpAddress">
						</div>
					</div>

					<br>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary btn-sm">创建</button>
							<a href="/balancers/{{.Balancer.Id.Hex}}" class="btn btn-default btn-sm">取消</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{{end}}

{{define "scripts"}}

{{end}}
